<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130592654158-j8m6bakikk909mm83m71sulo0jbim87g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130592654158-j8m6bakikk909mm83m71sulo0jbim87g</string>
	<key>API_KEY</key>
	<string>AIzaSyAw1JQUf1dx_x-9MNsRd5TwyLkHzoUuR1U</string>
	<key>GCM_SENDER_ID</key>
	<string>130592654158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>om.example.cryptoWalletV1</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-tutorial-15a19</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-tutorial-15a19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130592654158:ios:54cdca1141e8869aa6d41f</string>
</dict>
</plist>